<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trhj.androidflashcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:permission="android.permission.WRITE_EXTERNAL_STORAGE">

        <!-- main -->
        <activity
            android:name="net.trhj.androidflashcards.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- input -->
        <activity
            android:name="net.trhj.androidflashcards.InputActivity"
            android:label="@string/title_activity_input"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

        <!-- save -->
        <activity
            android:name="net.trhj.androidflashcards.SaveCardActivity"
            android:label="@string/title_activity_save_card"
            android:parentActivityName="net.trhj.androidflashcards.InputActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.InputActivity" />
        </activity>

        <!-- learn -->
        <activity
            android:name="net.trhj.androidflashcards.LearnActivity"
            android:label="@string/title_activity_learn"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

    </application>

</manifest>
