<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trhj.androidflashcards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- main -->
        <activity
            android:name="net.trhj.androidflashcards.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- input -->
        <activity
            android:name="net.trhj.androidflashcards.InputActivity"
            android:label="@string/title_activity_input"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

        <!-- learn -->
        <activity
            android:name="net.trhj.androidflashcards.LearnActivity"
            android:label="@string/title_activity_learn"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

        <!-- list -->
        <activity
            android:name="net.trhj.androidflashcards.ListActivity"
            android:label="@string/title_activity_list_all"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

        <!-- edit -->
        <activity
            android:name="net.trhj.androidflashcards.EditActivity"
            android:label="@string/title_activity_edit"
            android:parentActivityName="net.trhj.androidflashcards.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.ListActivity" />
        </activity>

        <!-- config -->
        <activity
            android:name="net.trhj.androidflashcards.ConfigActivity"
            android:label="@string/title_activity_config"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

        <!-- dbbk email processor -->
        <activity
            android:name="net.trhj.androidflashcards.DbbkActivity"
            android:label="@string/title_activity_dbbk"
            android:parentActivityName="net.trhj.androidflashcards.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" host="*" android:pathPattern="*.dbbk" android:scheme="content" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.androidflashcards.MainActivity" />
        </activity>

    </application>

</manifest>
