<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.trhj.cardation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/ic_launcher">

        <!-- main -->
        <activity
            android:name="net.trhj.cardation.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- input -->
        <activity
            android:name="net.trhj.cardation.InputActivity"
            android:label="@string/title_activity_input"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- learn -->
        <activity
            android:name="net.trhj.cardation.LearnActivity"
            android:label="@string/title_activity_learn"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- list -->
        <!-- android:noHistory is here and in the edit activity so that if we
             list-edit-save-edit-save-edit-save, then pressing Back won't walk
             us backwards through that whole sequence, and instead take us
             straight to the Cardation home screen. -->
        <activity
            android:name="net.trhj.cardation.ListActivity"
            android:label="@string/title_activity_list_all"
            android:icon="@drawable/ic_launcher"
            android:noHistory="true"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- edit -->
        <activity
            android:name="net.trhj.cardation.EditActivity"
            android:label="@string/title_activity_edit"
            android:icon="@drawable/ic_launcher"
            android:noHistory="true"
            android:parentActivityName="net.trhj.cardation.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.ListActivity" />
        </activity>

        <!-- config -->
        <activity
            android:name="net.trhj.cardation.ConfigActivity"
            android:label="@string/title_activity_config"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- stats -->
        <activity
            android:name="net.trhj.cardation.StatsActivity"
            android:label="@string/title_activity_stats"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- dbbk email processor -->
        <activity
            android:name="net.trhj.cardation.DbbkActivity"
            android:label="@string/title_activity_dbbk"
            android:icon="@drawable/ic_launcher"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" host="*" android:pathPattern="*.dbbk" android:scheme="content" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>

        <!-- From https://github.com/sanathp/DatabaseManager_For_Android -->
        <activity android:name="net.trhj.cardation.AndroidDatabaseManager"
            android:label="@string/title_activity_dbexplorer"
            android:icon="@drawable/ic_launcher"
            android:noHistory="true"
            android:parentActivityName="net.trhj.cardation.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.trhj.cardation.MainActivity" />
        </activity>


    </application>

</manifest>
